/* ========== SOCIAL LINKS ========== */
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    animation: fadeIn 1.2s ease-in both;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.social-btn:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}