@inherits LayoutComponentBase

<NavMenuLayout />
<link rel="stylesheet" href="css/modern.css" />
<script src="scripts/bannerTyping.js"></script>
<script src="scripts/indexOuterUI.js"></script>

<div class="modern-layout">
    <main class="modern-main">
        @Body
    </main>

    <footer class="modern-footer">
        <p>© MooSharp.dev — All Rights Reserved</p>
    </footer>
</div>
