@inherits LayoutComponentBase

<div class="terminal-root">
    <NavMenuLayout />
    @Body
</div>

<script src="scripts/indexOuterUI.js"></script>
<script src="scripts/terminalTyping.js"></script>
<script src="scripts/cheatCode.js"></script>
