@page "/terminal/about"
@layout TerminalLayout
@inject IJSRuntime JS

<div class="terminal-container">
    <div id="terminalText"></div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var reference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("startTerminalTyping", "about");
            await JS.InvokeVoidAsync("addKeypressListener", reference);
        }
    }

    [JSInvokable]
    public void CompleteTyping()
    {
        JS.InvokeVoidAsync("completeTerminalIntro");
    }
}
