@page "/"
@inject IJSRuntime JS
@implements IDisposable

<div class="banner-container">
    <img src="MooSharpWhiteCircle.png" alt="MooSharp Logo" class="banner-logo" />
    <div id="welcomeBase" class="banner-title matrix-font"></div>
</div>

<div class="terminal-container">
    <div id="terminalText" class="terminal-text-formatted"></div>
    <span id="blinkingCursor">_</span>
</div>

@code {
    private bool introSkipped = false;
    private DotNetObjectReference<Index>? _reference;
    [JSInvokable]
    public void CompleteTyping()
    {
        if (!introSkipped)
        {
            introSkipped = true;
            JS.InvokeVoidAsync("completeTerminalIntro");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _reference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("startOuterUI");
            await JS.InvokeVoidAsync("startCheatCodeListener", _reference);
            await JS.InvokeVoidAsync("startTerminalTyping");
            await JS.InvokeVoidAsync("addKeypressListener", _reference);
        }
    }

    public void Dispose()
    {
        _reference?.Dispose();
    }
}
