@inject IJSRuntime JS
@inject NavigationManager Nav

<div class="terminal-screen">
    <div id="terminalText"></div>
    <span id="blinkingCursor">_</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("startTerminalTyping");
        }
    }
}
