@page "/home"
@inject IJSRuntime JS
@inject NavigationManager Nav

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var accessGranted = await JS.InvokeAsync<string>("localStorage.getItem", "access");
            if (accessGranted != "granted")
            {
                Nav.NavigateTo("/");
            }
            else
            {
                await JS.InvokeVoidAsync("startTypingBanner");
            }
        }
    }
}

<div class="home-container">
    <h1 id="bannerTitle" class="matrix-font"></h1>
</div>
