@page "/"
@inject IJSRuntime JS

<div class="banner-container">
    <img src="MooSharpWhiteCircle.png" alt="MooSharp Logo" class="banner-logo" />
    <div id="welcomeBase" class="banner-title"></div>
</div>

<div class="terminal-container">
    <div class="terminal-text" style="white-space: pre-wrap; font-family: 'VT323', monospace; text-align: left;">
        <div id="terminalText"></div>
    </div>
</div>

@code 
{
    private bool introSkipped = false;

    [JSInvokable]
    public void CompleteTyping()
    {
        if (!introSkipped)
        {
            introSkipped = true;
            JS.InvokeVoidAsync("completeTerminalIntro");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var reference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("startOuterUI");
            await JS.InvokeVoidAsync("startCheatCodeListener", reference);
            await JS.InvokeVoidAsync("startTerminalTyping");
            await JS.InvokeVoidAsync("addKeypressListener", reference);
        }
    }
}